<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Sam Davis-Castro</title>
</head>

<body ng-app="portfolio" ng-controller="MainController">

    <nav>
        <img id="logo" src="assets/SamNewLogo-01.png" alt="3d looking boxy logo combining the letters S, D and C." />
        <h3 class="mobileMenu">menu</h3>
        <h2 id="contact" ng-click="menuClick($event)" class="navMenuItem">contact</h2>
        <h2 id="about" ng-click="menuClick($event)" class="navMenuItem">about</h2>
        <h2 id="portfolio" ng-click="menuClick($event)" class="navMenuItem">portfolio</h2>
        <h2 id="resume" ng-click="menuClick($event)" class="navMenuItem">résumé</h2>
    </nav>

    <div ng-show="showContact">
        <div class="contactInfo">
            <p>
                <span class="purple">let</span>
                <span class="white">contact_info = {</span><br>
                <span class="chalkRed">phone</span>
                <span class="white">:</span> '919.214.4243',<br>
                <span class="chalkRed">email</span>
                <span class="white">:</span> 'sam.davis.castro@gmail.com',<br><span class="chalkRed">languages</span>
                <span class="white">:</span> ['English', 'Spanish']<br> }
                <span class="white">;</span>
            </p>
        </div>
    </div>

    <div ng-show="showAbout" class="aboutMe">
        <main class="container">
            <div><img src="assets/One.jpg" alt="Image of site author, Sam Davis-Castro." class="samImage" />
            </div>
            <div class="aboutMeDetails">
                <h2>About me</h2>
                <p>
                    I received a Bachelor of Music Degree from UNC School of the Arts in 2010 and I still enjoy expanding musical skills on the instruments I've taught myself and others since then. In my 5 years as a private music instructor, I taught myself new instruments to acquire more students. During my most productive year I had 35 students per week on 7 different instruments. Like many in my generation, after being a spectator of the incredible achievements of technology, I felt an increasing desire to get&nbsp;involved.</p>
                <p>
                    I spent a few years at a call center in Raleigh where, I was a bilingual customer service agent and supervisor. During our slower season, I spent free time learning how to build and share some simple web based tools that ended up cutting the new employee training time by nearly 50%. I was officially bitten by the programming&nbsp;bug.</p>
                <p>
                    In the fall of 2016 I had the great opportunity to attend The Iron Yard for Front-End Engineering with JavaScript and MVC Frameworks (Angular). The pace was challenging but I grduated with great excitement and motivation to continue learning until finding a job as a Junior Optimization Engineer at Brooks Bell in Raleigh, NC. I performed QA and wrote front-end code to create A/B tests from mocks for well known international companies. Having had the benefit of putting code in front of hundreds of thousands of users and learning from knowledgeable developers, I'm looking to take my professional experience and enthusiasm somewhere&nbsp;new.
                </p>
            </div>
        </main>
    </div>

    <div ng-show="showPortfolio" class="showPortfolio">
        <div class="portfolioExamples">
            <div class="projectItem" ng-repeat="item in projects">
                <img src="{{ item.icon }}" alt="{{ item.name }}" />
                <div class="projectText">
                    <h3>{{ item.name }}</h3>
                    <div class="description">{{ item.description }}</div>
                    <a href="{{ item.link }}" target="_blank">{{ item.siteLocation }}</a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="showResume">
        <div class="resume">
            <object width="100%" height="100%" data="assets/SamDavisCastroResume.pdf"></object>
        </div>
    </div>
    <footer>
        <div>
            <p>Topics covered at The Iron Yard (Front End Engineering)</p>
        </div>
        <div class="iconsContainer">
            <img src="assets/webDevIcons/terminal.svg" alt="icon for command line terminal" class="webDevIcons">
            <img src="assets/webDevIcons/html5.svg" alt="icon for HTML 5" class="webDevIcons">
            <img src="assets/webDevIcons/css3.svg" alt="icon for CSS 3" class="webDevIcons">

            <img src="assets/webDevIcons/javascript.svg" alt="icon for JavaScript" class="webDevIcons">
            <img src="assets/webDevIcons/github.svg" alt="icon for git hub" class="webDevIcons">
            <img src="assets/webDevIcons/sass.svg" alt="icon for sassy css" class="webDevIcons">

            <img src="assets/webDevIcons/responsive.svg" alt="icon for responsive web design" class="webDevIcons">
            <img src="assets/webDevIcons/angular.svg" alt="icon for angular framework" class="webDevIcons">
            <img src="assets/webDevIcons/grunt.svg" alt="icon for grunt minification" class="webDevIcons">
        </div>
        <div>
            <p>Site authored by Samuel Davis-Castro, 2017</p>
        </div>
    </footer>


</body>

</html>
