<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Sam Davis-Castro</title>
</head>

<body ng-app="portfolio" ng-controller="MainController">

    <nav>
        <img id="logo" src="assets/samLogo.svg" alt="Curvy logo combining the letters S, D and C." />
        <h3 class="mobileMenu">menu</h3>
        <h2 id="contact" ng-click="menuClick($event)" class="navMenuItem">contact</h2>
        <h2 id="about" ng-click="menuClick($event)" class="navMenuItem">about</h2>
        <h2 id="portfolio" ng-click="menuClick($event)" class="navMenuItem">portfolio</h2>
    </nav>

    <div ng-show="showContact">
        <div class="contactInfo">
            <p>
                <span class="purple">let</span>
                <span class="white">contact_info = {</span><br>
                <span class="chalkRed">phone</span>
                <span class="white">:</span> '919.210.8906',<br>
                <span class="chalkRed">email</span>
                <span class="white">:</span> 'sam.davis.castro@gmail.com',<br><span class="chalkRed">languages</span>
                <span class="white">:</span> ['English', 'Spanish']<br> }
                <span class="white">;</span>
            </p>
        </div>
    </div>

    <div ng-show="showAbout" class="aboutMe">
        <main class="container">
            <div><img src="assets/One.jpg" alt="Image of site author, Sam Davis-Castro." class="samImage" /></div>
            <div class="aboutMeDetails">
                <h2>About me</h2>
                <p>
                    I received a Bachelor of Music Degree from UNC School of the Arts in 2010 and I still enjoy expanding musical skills on the instruments I've taught myself and others since then. However, after being a spectator of the incredible achievements of technology,
                    I felt an increasing desire to get more&nbsp;involved.</p>
                <p>
                    While working as a bilingual agent (and eventually supervisor) in a call center, I saw room to improve the organization and speed with which, we accessed information. During a few particularly slow days at work, I began building and sharing tools to make myself and my fellow agents better at our jobs. This eventually required the development of an internal site to keep my various maps, spreadsheets, payment policies, etc. in one place. During the development, maintenance and user feedback regarding the site, I became certain that learning front-end web development would be my new&nbsp;path.</p>
                <p>
                    In the fall of 2016 I took a risk by departing from work to attend the immersive Front-End Engineering course offered at The Iron Yard in Durham, NC. It was an extremely challenging curriculum to conquer in 3 months, but, sincere interest in the subject matter, dedication, and a supportive environment got me through it. Since then, I have spent an average of 7 hours each day solidifying and furthering my coding skills. Currently, I am developing a site for a client in Chapel Hill, NC and we are significantly ahead of schedule. I look forward to watching the business grow once the site has been deployed during the Spring of 2017.
                </p>
            </div>
        </main>
    </div>

    <div ng-show="showPortfolio" class="showPortfolio">
        <div class="portfolioExamples">
            <div class="projectItem" ng-repeat="item in projects">
                <img src="{{ item.icon }}" alt="{{ item.name }}" />
                <div class="projectText">
                    <h3>{{ item.name }}</h3>
                    <div class="description">{{ item.description }}</div>
                    <a href="{{ item.link }}" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div>
            <p>General topics covered at The Iron Yard (Front End Engineering)</p>
        </div>
        <div class="iconsContainer">
            <img src="assets/webDevIcons/terminal.svg" alt="icon for command line terminal" class="webDevIcons">
            <img src="assets/webDevIcons/html5.svg" alt="icon for HTML 5" class="webDevIcons">
            <img src="assets/webDevIcons/css3.svg" alt="icon for CSS 3" class="webDevIcons">

            <img src="assets/webDevIcons/javascript.svg" alt="icon for JavaScript" class="webDevIcons">
            <img src="assets/webDevIcons/github.svg" alt="icon for git hub" class="webDevIcons">
            <img src="assets/webDevIcons/sass.svg" alt="icon for sassy css" class="webDevIcons">

            <img src="assets/webDevIcons/responsive.svg" alt="icon for responsive web design" class="webDevIcons">
            <img src="assets/webDevIcons/angular.svg" alt="icon for angular framework" class="webDevIcons">
            <img src="assets/webDevIcons/grunt.svg" alt="icon for grunt minification" class="webDevIcons">
        </div>
        <div>
            <p>Site authored by Samuel Davis-Castro, 2017</p>
        </div>
    </footer>
</body>

</html>
