@media (max-width:700px) {
  body {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
    nav {
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 12px 10px;
        transition: all 1s ease;

        h2 {
            display: none;
        }

        #logo {
            display: none;
        }

        .mobileMenu {
            display: flex;
            transition: all 1s ease;
        }
    }

    .iconsContainer {
        flex-wrap: wrap;
        width: 100%;

        .webDevIcons {
            height: 6rem;
            padding: 12px;
        }
    }

    .contactInfo {
        width: 321px;
        margin: 0 auto;

        p {
            margin: 30px auto;
            font-size: 1rem;
            line-height: 2rem;
            letter-spacing: 0;
        }
    }

    .aboutMe {
        font-size: 1.1rem;
        font-weight: 100;

        main.container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .samImage {
                height: 350px;
                margin: 0 0 30px;
            }
        }

        .aboutMeDetails {
            clear: both;
            width: 93%;

            h2 {
                text-align: center;
            }
        }
    }

    footer {
        height: auto;
        padding: 20px;
    }
}
