* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: url("../assets/6.5.jpg");
  background-position: center;
  background-size: cover; }

#backgroundImg {
  width: 100%; }

nav {
  align-items: center;
  background: #272727;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: rgba(244, 67, 54, 0.55);
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  height: 60px;
  justify-content: flex-end;
  margin-bottom: 30px; }
  nav #logo {
    height: 35px;
    position: absolute;
    left: 5vw; }
  nav .mobileMenu {
    display: none; }
  nav h2 {
    display: block; }

.contactInfo {
  color: #88b060;
  display: flex;
  font-family: Courier New;
  font-size: 1.5rem;
  justify-content: center;
  letter-spacing: 2px; }
  .contactInfo .white {
    color: #a9b3b9; }
  .contactInfo .chalkRed {
    color: #F44336; }
  .contactInfo .purple {
    color: #b16dd4; }
  .contactInfo p {
    background: white;
    padding: 15px;
    margin: 22vh 0; }

.navMenuItem {
  cursor: default;
  text-align: center;
  margin: 0 3%;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .navMenuItem:hover {
    cursor: pointer;
    color: #F44336;
    font-size: 25px; }

.active {
  color: #F44336; }

main.container {
  background: white;
  padding: 25px;
  display: flex; }
  main.container .samImage {
    height: 450px;
    margin-right: 25px; }

.aboutMe {
  width: 95%;
  display: flex;
  align-items: flex-start;
  margin: 30px auto; }
  .aboutMe .aboutMeDetails {
    margin-top: -5px; }
    .aboutMe .aboutMeDetails h2 {
      font-family: "Open Sans Condensed", sans-serif;
      letter-spacing: 2px;
      color: #F44336; }
    .aboutMe .aboutMeDetails p {
      margin: 30px 0 0;
      line-height: 1.6rem;
      color: #696868;
      letter-spacing: 0.5px; }

.showPortfolio {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px; }

.portfolioExamples {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0; }

.projectItem {
  height: 300px;
  width: 300px; }
  .projectItem:nth-child(1) {
    width: 600px; }
    .projectItem:nth-child(1) img {
      width: 600px; }

.projectItem img {
  height: 300px;
  width: 300px;
  object-fit: cover; }

.projectText {
  opacity: 1;
  background: transparent;
  height: 100%;
  position: relative;
  top: -304px;
  text-align: center;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 1px; }
  .projectText:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.9);
    color: #F44336;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .projectText .description {
    margin: 30px 0; }
  .projectText a {
    color: inherit; }
    .projectText a:hover {
      color: #a9b3b9; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #c93024;
  height: 200px;
  margin-top: 30px; }
  footer p {
    text-align: center;
    color: white;
    opacity: 0.3;
    font-size: 0.8rem; }
  footer .iconsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: baseline; }
    footer .iconsContainer .webDevIcons {
      opacity: 0.3; }
      footer .iconsContainer .webDevIcons:hover {
        opacity: 0.8; }

@media (max-width: 755px) {
  body {
    background: white;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; }

  nav {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 12px 10px;
    transition: all 1s ease; }
    nav h2 {
      display: none; }
    nav #logo {
      display: none; }
    nav .mobileMenu {
      display: flex;
      transition: all 1s ease;
      color: #F44336; }
      nav .mobileMenu:hover {
        cursor: pointer; }

  .iconsContainer {
    flex-wrap: wrap;
    width: 100%; }
    .iconsContainer .webDevIcons {
      height: 6rem;
      padding: 12px; }

  .contactInfo {
    width: 321px;
    margin: 0 auto; }
    .contactInfo p {
      margin: 30px auto;
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 0; }

  .aboutMe {
    font-size: 1.1rem;
    font-weight: 100; }
    .aboutMe main.container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .aboutMe main.container .samImage {
        height: 350px;
        margin: 0 0 30px; }
    .aboutMe .aboutMeDetails {
      clear: both;
      width: 93%; }
      .aboutMe .aboutMeDetails h2 {
        text-align: center; }

  .portfolioExamples {
    width: 100%; }

  .projectItem:nth-child(1) {
    width: 300px; }
    .projectItem:nth-child(1) img {
      width: 300px; }

  footer {
    height: auto;
    padding: 20px; } }

/*# sourceMappingURL=main.css.map */
